---
import Layout from '../layouts/Layout.astro';
import HomeProductions from '../components/HomeProductions.astro';
import HomeNews from '../components/HomeNews.astro';
import HomeAbout from '../components/HomeAbout.astro';

import HomeVideo from '../components/HomeVideo.astro';
---

<Layout title="OtroLado Dance Company">
    <main>
        <HomeVideo />
        <HomeNews />
        <HomeAbout />
        <HomeProductions />
    </main>
</Layout>

