---
import Layout from '../layouts/Layout.astro'
---

<Layout title="OtroLado Dance Company">
    <div>
        <h1>404</hh1>
        <p>Page not found</p>
        <a href="/">Go back to home</a>
    </div>
</Layout>
