---
import NewsCard from './ui/NewsCard.astro'
import Header from './ui/Header.astro'
---

<section class='pt-12 bg-black text-alto-50'>
  <Header
    title='01_Noticias'
    waterMark='01_'
    text='Le invitamos a estar al corriente de nuestras novedades y no perderse ningún detalle de nuestras presentaciones, giras, talleres, etc. Sea parte de nuestro viaje y descubra este universo a cada instante.'
    linkText='Ver Mas'
    linkColor='bg-white'
    waterMarkColor='text-alto-300'
  />
  <NewsCard
    title='TALLERES DE FORMACIÓN PROFESIONAL'
    date='6, 7 Y 8 DE FEBRERO'
    location='Gran Teatro de la Habana'
    img='/news_photos/noticias_todos.webp'
  />
  <NewsCard
    title='TALLERES DE FORMACIÓN PROFESIONAL'
    date='6, 7 Y 8 DE FEBRERO'
    location='Gran Teatro de la Habana'
    img='/news_photos/noticias_norge_thais.webp'
  />
  <NewsCard
    title='TALLERES DE FORMACIÓN PROFESIONAL'
    date='6, 7 Y 8 DE FEBRERO'
    location='Gran Teatro de la Habana'
    img='/news_photos/noticias_norge_acosta.webp'
  />
  <NewsCard
    title='TALLERES DE FORMACIÓN PROFESIONAL'
    date='6, 7 Y 8 DE FEBRERO'
    location='Gran Teatro de la Habana'
    img='/news_photos/noticias_tres_otrolado.webp'
  />
</section>
