---
import Header from './ui/Header.astro'
---

<section class='bg-alto-50 pt-12 pb-4'>
  <Header
    title='02_Sobre Nosotros'
    waterMark='02_'
    waterMarkColor='text-alto-300'
    text='Por más de 5 años OTROLADO DANCE COMPANY se ha establecido como una de las compañías cubanas más singulares y reveladoras. Nuestra visión, retar los liimites del cuerpo y la mente para crear obras de artes sin precedentes, tan maravillosas e impredecibles cómo la vida misma.'
    linkText='Leer Mas'
    linkColor='bg-black'
  />

  <div>
    <figure class='w-full'>
      <img
        src='/team/norge_thais_luces.webp'
        alt=''
        class='w-full h-full object-cover'
      />
    </figure>
    <div class='w-[95%] mx-auto'>
      <figcaption class='uppercase py-6'>
        una actuación mínima de estos bailarines es tan poderosa y dinámica como
        la producción más completa.
      </figcaption>
      <p class='text-clementine-400 text-right'>
        Rachel F. Goldberg, Brodway World
      </p>
      <a
        href=''
        class='underline_animation my-8 uppercase font-semibold after:bg-black'
        >Nuestro Equipo<svg
          class='inline-block -mt-1 ml-1 fill-current'
          xmlns='http://www.w3.org/2000/svg'
          height='22'
          viewBox='0 -960 960 960'
          width='22'
          ><path
            d='m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z'
          ></path></svg
        ></a
      >
    </div>
    <div>
      <figure class='w-full mb-4'>
        <img
          src='/team/grupo_cabezas.webp'
          alt=''
          class='w-full h-full object-cover'
        />
      </figure>
    </div>
    <div class='flex gap-4 h-72 w-full'>
      <figure>
        <img
          class='w-full h-full object-cover drop-shadow-lg'
          src='/team/norge_profile.webp'
          alt=''
        />
      </figure>
      <figure>
        <img
          class='w-full h-full object-cover object-[70%_50%] drop-shadow-lg'
          src='/team/thais_profile.webp'
          alt=''
        />
      </figure>
    </div>
  </div>
</section>
