


<section class="relative">
    <img src="/norge_thais_abrazo.webp" class="h-lvh object-cover" alt="">
    <div class="absolute bottom-10 left-3">
        <p class="uppercase text-xl font-bold text-clementine-50">
            Bienvenido a
        </p>
        <h2 class="uppercase text-3xl text-clementine-500 font-bold">
            OtroLado <br> Dance
        </h2>
        <a href="" class="underline_animation mt-8 uppercase font-semibold text-white after:bg-white">Leer Mas<svg class="inline-block -mt-1 ml-1 fill-current" xmlns="http://www.w3.org/2000/svg" height="22" viewBox="0 -960 960 960" width="22"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg></a>
    </div>
</section>